#expression-container {
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#expression {
    background-color: var(--bg-color-darker);
    border-radius: 5px;
    /* border: 2px solid green; */
    padding: 10px;
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
