.stream-buttons-container {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.prev-button {
    background-color: var(--text-color);
    color: var(black);
    font-size: large;
    padding: 16px 16px;
    border: none;
    margin: 15px;
    text-align: center;
}

.play-button {
    background-color: var(--text-color);
    color: var(black);
    font-size: large;
    padding: 32px 32px;
    border-radius: 50%;
    border: none;
    margin: 15px;
}

.next-button {
    background-color: var(--text-color);
    color: var(black);
    font-size: large;
    padding: 16px 16px;
    border: none;
    margin: 15px;
    text-align: center;
}

.play-button:hover, .prev-button:hover, .next-button:hover  {
    background-color: var(--blue);
}